In [1]:
import numpy as np
import pandas as pd

D:\anaconda\envs\datasience\lib\site-packages\numpy\_distributor_init.py:32: UserWarning: loaded more than 1 DLL from .libs:
D:\anaconda\envs\datasience\lib\site-packages\numpy\.libs\libopenblas.GK7GX5KEQ4F6UYO3P26ULGBQYHGQO7J4.gfortran-win_amd64.dll
D:\anaconda\envs\datasience\lib\site-packages\numpy\.libs\libopenblas.NOIJJG62EMASZI6NYURL6JBKM4EVBGM7.gfortran-win_amd64.dll
  stacklevel=1)

In [2]:
data = pd.read_parquet('train.parquet')

In [3]:
data.head()

,CompanyKey,ProfitLoss,AccountLocal,AccSide,AccountLocalCorr,Виды деятельности,Прочие доходы и расходы,Номенклатурные группы,Статьи затрат,Статьи ДДС,Amount,TargetKey,TargetName
0,BNV,0,01,Dt,08,,,,,,395599.24,24,Прочие Активы
1,BNV,0,08,Cr,01,,,,,,-395599.24,24,Прочие Активы
2,BNV,0,08,Dt,60,,,,,,395599.24,24,Прочие Активы
3,BNV,0,10,Cr,20,,,Основная номенклатурная группа,Списание материалов,,-12868.81,24,Прочие Активы
4,BNV,0,10,Cr,26,,,,почтовые расходы,,-81507.85,24,Прочие Активы

In [18]:
data.isnull().sum()

CompanyKey                    0
ProfitLoss                    0
AccountLocal                  0
AccSide                       0
AccountLocalCorr              0
Виды деятельности             0
Прочие доходы и расходы       0
Номенклатурные группы         0
Статьи затрат                 0
Статьи ДДС                    0
Amount                        0
TargetKey                  2510
TargetName                 2510
dtype: int64

In [57]:
data.CompanyKey.dtype=='category'

True

In [50]:
 data.AccountLocal =data.AccountLocal.astype(float)

In [53]:
data.AccountLocalCorr = data.AccountLocalCorr.astype(float)

In [61]:
for col in data.columns:
    if (data[col].dtype!=str) & (data[col].dtype!=float):
        data[col] = data[col].astype(str)

In [62]:
data.dtypes

CompanyKey                  object
ProfitLoss                  object
AccountLocal               float64
AccSide                     object
AccountLocalCorr           float64
Виды деятельности           object
Прочие доходы и расходы     object
Номенклатурные группы       object
Статьи затрат               object
Статьи ДДС                  object
Amount                     float64
TargetKey                   object
TargetName                  object
dtype: object